# Dependencies
node_modules

# Environment variables
.env

# Uploaded user files
uploads/

# Logs
*.log
logs/

# Production build
dist

# Coverage reports
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/